<main>
  <article>
    <!-- Hero Section -->
    <section class="section hero" style="background-image: url('/images/h2.png')">
      <div class="container">
        <h2 class="h1 hero-title">
          New Collection<strong></strong>
        </h2>
        <a href="/shop" class="btn btn-primary">
          <span>Shop Now</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </div>
    </section>

    <!-- Product Section -->
    <section class="section product">
      <div class="container">
        <h2 class="h2 section-title">Bestseller's items</h2>

        <ul class="product-list">
      
          <li class="product-item" 
              data-id="red-1" 
              data-name="Red Hoodie" 
              data-price="180.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/red.png" width="312" height="350" loading="lazy"
                  alt="Red Hoodie" class="image-contain">

                <div class="card-badge">New</div>

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Red Hoodie</a>
                </h3>

                <data class="card-price" value="180.85">$180.85</data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="black-1" 
              data-name="Red/White Hoodie" 
              data-price="190.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/R.jpeg" width="312" height="350" loading="lazy"
                  alt="Red/White Hoodie" class="image-contain">

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>


        </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Sports</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Red/White Hoodie</a>
                </h3>

                <data class="card-price" value="190.85">$190.85</data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="yellow-1" 
              data-name="Yellow Hoodie" 
              data-price="160.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/yellow.png" width="312" height="350" loading="lazy"
                  alt="Yellow Hoodie" class="image-contain">

                <div class="card-badge">New</div>

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                  
                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Yellow Hoodie</a>
                </h3>

                <data class="card-price" value="160.85">$160.85</data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="black-1" 
              data-name="Black Hoodie" 
              data-price="170.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/black.png" width="312" height="350" loading="lazy"
                  alt="Black Hoodie" class="image-contain">

                <div class="card-badge">-25%</div>

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>


                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Sports</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Black Hoodie</a>
                </h3>

                <data class="card-price" value="170.85">$170.85 <del>$200.21</del></data>

              </div>

            </div>
          </li>

            <li class="product-item" 
              data-id="pink-1" 
              data-name="Pink Hoodie" 
              data-price="120.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">
                <figure class="card-banner">
                <img src="images/pink.png" alt="Pink Hoodie" class="image-contain">
            
                    <div class="card-badge">New</div>
            
                <ul class="card-action-list">
                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>
                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>
                </ul>
              </figure>
            
              <div class="card-content">
                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>
            
                <h3 class="h3 card-title">
                  <a href="#">Pink Hoodie</a>
                </h3>
            
                <data class="card-price" value="120.85">$120.85</data>
              </div>
            </div>
          </li>
          

          <li class="product-item" 
              data-id="white-1" 
              data-name="White Hoodie" 
              data-price="100.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/white.png" width="312" height="350" loading="lazy"
                  alt="White Hoodie" class="image-contain">

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">White Hoodie</a>
                </h3>

                <data class="card-price" value="100.85">$100.85</data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="Offwhite-1" 
              data-name="Offwhite Hoodie" 
              data-price="120.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/t.png" width="312" height="350" loading="lazy"
                  alt="Offwhite Hoodie" class="image-contain">

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Sports</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Offwhite Hoodie</a>
                </h3>

                <data class="card-price" value="120.85">$120.85</data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="blue/red-1" 
              data-name="Blue/Red Hoodie" 
              data-price="100.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/Screenshot 2025-05-02 165834.png" width="312" height="350" loading="lazy"
                  alt="Blue/Red Hoodie" class="image-contain">

                  <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                  </ul>
                </figure>

                <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Blue/Red Hoodie</a>
                </h3>

                <data class="card-price" value="100.85">$100.85</data>

              </div>

              </div>
            </li>

        </ul>

      </div>
   
    </section>
  </article>
</main>

<section class="section special">
  <div class="container">

    <div class="special-banner" style="background-image: url('images/special-banner.jpg')">
      <h2 class="h3 banner-title">New Trend Edition</h2>

      <a href="/shop" class="btn btn-link">
        <span>Explore All</span>

        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
      </a>
    </div>

    <div class="special-product">

      <h2 class="h2 section-title">
        <span class="text">Our Special</span>

        <span class="line"></span>
      </h2>

      <ul class="has-scrollbar">
        <li class="product-item" 
              data-id="red-1" 
              data-name="Red Hoodie" 
              data-price="180.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/red.png" width="312" height="350" loading="lazy"
                  alt="Red Hoodie" class="image-contain">

                <div class="card-badge">New</div>

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Red Hoodie</a>
                </h3>

                <data class="card-price" value="180.85">$180.85</data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="blue/red-1" 
              data-name="Blue/Red Hoodie" 
              data-price="100.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/Screenshot 2025-05-02 165834.png" width="312" height="350" loading="lazy"
                  alt="Blue/Red Hoodie" class="image-contain">

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Blue/Red Hoodie</a>
                </h3>

                <data class="card-price" value="100.85">$100.85</data>

              </div>

            </div>
          </li>
          <li class="product-item" 
              data-id="yellow-1" 
              data-name="Yellow Hoodie" 
              data-price="160.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/yellow.png" width="312" height="350" loading="lazy"
                  alt="Yellow Hoodie" class="image-contain">

                <div class="card-badge">New</div>

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                  
                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Yellow Hoodie</a>
                </h3>

                <data class="card-price" value="160.85">$160.85</data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="black-1" 
              data-name="Black Hoodie" 
              data-price="170.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/black.png" width="312" height="350" loading="lazy"
                  alt="Black Hoodie" class="image-contain">

                <div class="card-badge">-25%</div>

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>


                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Sports</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">Black Hoodie</a>
                </h3>

                <data class="card-price" value="170.85">$170.85 <del>$200.21</del></data>

              </div>

            </div>
          </li>

          <li class="product-item" 
              data-id="pink-1" 
              data-name="Pink Hoodie" 
              data-price="120.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">
              <figure class="card-banner">
                <img src="images/pink.png" alt="Pink Hoodie" class="image-contain">
            
                <div class="card-badge">New</div>
            
                <ul class="card-action-list">
                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>
                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>
                </ul>
              </figure>
            
              <div class="card-content">
                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>
            
                <h3 class="h3 card-title">
                  <a href="#">Pink Hoodie</a>
                </h3>
            
                <data class="card-price" value="120.85">$120.85</data>
              </div>
            </div>
          </li>
          

          <li class="product-item" 
              data-id="white-1" 
              data-name="White Hoodie" 
              data-price="100.85" 
              data-brand="drop1" 
              data-category="drop 1">
            <div class="product-card" tabindex="0">

              <figure class="card-banner">
                <img src="images/white.png" width="312" height="350" loading="lazy"
                  alt="White Hoodie" class="image-contain">

                <ul class="card-action-list">

                  <li class="card-action-item">
                    <button class="card-action-btn" data-cart aria-labelledby="card-label-1">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>

                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                  </li>

                </ul>
              </figure>

              <div class="card-content">

                <div class="card-cat">
                  <a href="#" class="card-cat-link">Men</a> /
                  <a href="#" class="card-cat-link">Women</a>
                </div>

                <h3 class="h3 card-title">
                  <a href="#">White Hoodie</a>
                </h3>

                <data class="card-price" value="100.85">$100.85</data>

              </div>

            </div>
          </li>


        </ul>
        </div>
        </section>









<!-- Size Selection Modal -->
<div id="sizeModal" class="modal hidden">
  <div class="modal-content">
    <span id="closeModal" class="close">&times;</span>
    <img id="modalImg" src="" alt="Product Image">
    <h3 id="modalName"></h3>
    <div class="size-selection">
      <button class="size-btn">S</button>
      <button class="size-btn">M</button>
      <button class="size-btn">L</button>
      <button class="size-btn">XL</button>
    </div>
    <button id="confirmAdd" class="btn btn-primary">Add to Cart</button>
  </div>
</div>

<!-- Service Section -->
  <section class="section service">
    <div class="container">
      <ul class="service-list">
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="/images/service-1.png" width="53" height="28" loading="lazy" alt="Service icon">
            </div>
            <div>
            <h3 class="h4 card-title">Free Shipping</h3>
              <p class="card-text">
                All orders over <span>$150</span>
              </p>
            </div>
          </div>
        </li>
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="/images/service-2.png" width="43" height="35" loading="lazy" alt="Service icon">
            </div>
            <div>
              <h3 class="h4 card-title">Quick Payment</h3>
              <p class="card-text">
                100% secure payment
              </p>
            </div>
          </div>
        </li>
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="/images/service-3.png" width="40" height="40" loading="lazy" alt="Service icon">
            </div>
            <div>
              <h3 class="h4 card-title">Free Returns</h3>
              <p class="card-text">
                Money back in 30 days
              </p>
            </div>
          </div>
        </li>
        <li class="service-item">
          <div class="service-card">
            <div class="card-icon">
              <img src="/images/service-4.png" width="40" height="40" loading="lazy" alt="Service icon">
            </div>
            <div>
              <h3 class="h4 card-title">24/7 Support</h3>
              <p class="card-text">
                Get Quick Support
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>



  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top-btn" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>

  <button class="go-top-btn" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </button>

  <!-- 
    - custom js link
  -->
  <script src="/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


